@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root{
    --negro900: hsl(207,19%,9%);
    --blanco100: hsl(0,0%,100%);
    --accent400: hsl(142,90%,61%);
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    position: relative;
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
header .header-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-logo .logo{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0,0,0,.1);
    transition: 0.5s;
}
header .header-logo .toggle{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
header .header-logo .toggle:before{
    content: 'Menú';
    position: absolute;
    right: 45px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2px 5px;
    background: #fff;
    color: #111;
}
header video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: 1;
    box-shadow: 10px 0 15px rgba(0,0,0,0,0.1);
    transition: 0.5s;
}
header .content{
    position: relative;
    z-index: 10;
    text-align: center;
    transition: 0.5s;
    transition-delay: 1s;
}
header .content h2{
    position: relative;
    color: #fff;
    font-size: 10vw;
    line-height: 0.55em;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
    font-family: 'Dancing Script', cursive;
}
header .content h2 span{
    font-size: 0.2em;
    font-weight: 300;
    letter-spacing: 5px;
    background: #fff;
    color: #111;
    padding: 0 10px;
    text-shadow: 0 5px 5px rgba(0,0,0,0);
    box-shadow:  0 5px 5px rgba(0,0,0,0.2);
    text-transform: uppercase;

}
header .sci{
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    z-index: 100;
}
header .sci li{
    list-style: none;
    margin: 5px;
    padding: 0 6px;
    background: #fff;
    transition: 0.5s;
}
header .sci li a{
    color:#111;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

